@font-face {
    font-family: roboto;
    src: url("./../assets/font/Roboto-Light.ttf");
}
@font-face {
    font-family:pixel;
    src: url("./../assets/font/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf");
}
@font-face {
    font-family:sans;
    src: url("./../assets/font/OpenSans-VariableFont_wdth\,wght.ttf");
}